# Приватные файлы
db.sqlite3
**/*secret*
**/*NOT-FOR-GIT*
test/**
test.py

# Файлы, создаваемые приложением
*.pyc
__pycache__/
.idea/
.vagrant/

# Статика
test/*
static/**
/uchislova/collectstatic
bower_components



