{% extends "base.html" %}

{% load staticfiles %}

{% block body %}

{#<a href="#Delete"  data-toggle="confirmation" data-singleton="true" data-placement="top" data-popout="true"><span title="Excluir o projeto">Excluir</span></a>#}

<table class="table table-striped table-hover table-bordered">
    {% for row in table %}
        <tr id="{{ row.pk }}">
            <td class="eng col-md-2">{{ row.eng }}</td>
            <td class="centercolumn col-md-2">
                <div class="btn-group-xs" role="group" aria-label="...">
                    <button type="button" class="choisebtn btn btn-success" value="remember">Помню!</button>
                    <button type="button" class="choisebtn btn btn-danger" value="notremember">Не помню!</button>
                    <span class="badge">{{ row.points }}</span>
                </div>
            </td>
            <td class="col-md-2" value="rus">
                <div class=del-button-parent>
                    <span hidden>{{ row.rus }}</span>
                    <div class="del-button">
                        <button type="button" class="deletebtn btn btn-default btn-xs" data-toggle="confirmation">
                            <span class="glyphicon glyphicon-remove" ></span>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>

{% endblock %}